<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="container">

      <div class="box">

        <h1>Welcome to Jaxon</h1>
        <h2>Made using <%= title %>.js</h2>
        <div class="buttons">
          <a href="/tts">Text to Speech</a>
          <a href="/stt">Speech to Text</a>

        </div>
      </div>
      
    </div>
  </body>
</html>
