<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaxon STT</title>
    <link rel="stylesheet" href="/stylesheets/stt.css">
</head>
<body>
    <h1>Speech to text</h1>
</body>
</html>